<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta-outlet></meta-outlet>
  
    <!-- TODO have to use forward slash / for path references?  translate on the fly in serve.js? -->
    <script type="module" src="/components/footer/footer.js"></script>
    <script type="module" src="/components/header/header.js"></script>

    <link rel="stylesheet" href="/styles/theme.css"></link>
    <link rel="stylesheet" href="/styles/blog.css"></link>
  </head>

  <body>

    <app-header></app-header>
    
    <div class='page-template content'>

      <content-outlet></content-outlet>
      
      <h3>More Posts</h3>
      <nav>
        <ul>
          <li><a href="/blog/second-post/">My Second Post</a></li>
          <li><a href="/blog/first-post/">My First Post</a></li>
        </ul>
      </nav>
    </div>

    <app-footer></app-footer>

  </body>

</html>