<!DOCTYPE html>
<html lang="en-GB" prefix="og:http://ogp.me/ns#">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta-outlet></meta-outlet>
  
    <script type="module" src="../components/footer/footer.js"></script>
    <script type="module" src="../components/header/header.js"></script>

    <link rel="stylesheet" href="../styles/theme.css"></link>
    <link rel="stylesheet" href="../styles/home.css"></link>

    <script type="module">
      import '@lion/button/define';
      import '@lion/calendar/define';
      import '@lion/tabs/define';
    </script>
  </head>

  <body>

    <div>
      <app-header></app-header>

      <div class='content'>
        <lion-button>This is a Lion button.</lion-button>

        <lion-calendar></lion-calendar>

        <lion-tabs>
          <button slot="tab">Info</button>
          <p slot="panel">Info page with lots of information about us.</p>
          <button slot="tab">Work</button>
          <p slot="panel">Work page that showcases our work.</p>
        </lion-tabs>

        <content-outlet></content-outlet>
      </div>
      
      <app-footer></app-footer>
    </div>

  </body>

</html>