:host {
  grid-area: header;

  & .header {
    background-color: #192a27;
    min-height: 30px;
    padding: 10px;
    font-size: 1.2rem;

    & h4 {
      margin: 0 auto;
      padding: 4px 0 0 10px;
      display:inline-block;
      color: #efefef;
    }

    & .head-wrap {
      display: flex;
      align-items:center;
      flex-wrap:wrap;
    }

    & .brand {
      justify-items: left;
      padding: 10px;
      & img {
        float:left;
        height: 30px;
        width: 30px;
      }
    }

    & .social {
      margin-left:auto;
      text-align: right;
    }
  }
}