<html>
  <head>
    <title>My Personal Website</title>
    <meta name="description" content="My person website repo built with Greenwood.">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.ico">

    <script type="module" src="../components/footer/footer.js" data-gwd-opt="static"></script>
    <script type="module" src="../components/header/header.js" data-gwd-opt="static"></script>

    <link rel="stylesheet" href="../styles/theme.css"></link>
    <link rel="stylesheet" href="../styles/home.css"></link>
  </head>

  <body>
    <page-outlet></page-outlet>
  </body>

</html>